.*
*.iml
*.iws
**/target/
**/cdk.out/
.sonar/
.sonarlint/
.dockerignore
.gitignore
.git
**/*.log
docker-compose-*
dockerfile-*
docker/tom-frontend/node_modules
docker/tom-frontend/dist
docker/tom-frontend/.angular
docker/tom-frontend/.git
docker/tom-frontend/.vscode
docker/tom-frontend/tmp
docker/tom-frontend/e2e
docker/tom-frontend/tests